[GENERAL]
RESPONSEFILE_VERSION = "12.1.0"
OPERATION_TYPE = "createDatabase"

[CREATEDATABASE]
GDBNAME = "#DATABASE#"
SID = "#DATABASE#"
SYSPASSWORD = "#DB_PASSWORD#"
SYSTEMPASSWORD = "#DB_PASSWORD#"
SERVICEUSERPASSWORD = "#DB_PASSWORD#"
DBSNMPPASSWORD = "#DB_PASSWORD#"
TEMPLATENAME = "General_Purpose.dbc"
CHARACTERSET = "AL32UTF8"
NATIONALCHARACTERSET = "AL16UTF16"

CREATEASCONTAINERDATABASE = false
#NUMBEROFPDBS = 1
#PDBNAME = testpdb